<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: #1e1e1e;
            color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #ddd;
            margin-bottom: 10px;
        }

        h3 {
            color: #bbb;
            margin-bottom: 15px;
        }

        p {
            line-height: 1.6;
            color: #ccc;
        }
    </style>
</head>
<body>
    <h1>{{ name }}</h1>
    <h3>Автор статьи: {{ author }}</h3>
    <h3>Дата создания: {{ date }}</h3>
    <p>{{ article }}</p>
    <div><a href="/article/all">На главную</a></div>
</body>
</html>

